@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --white: #ffffff;
  --red: #DE1D15;
  --blue: #094580;
  --gray: #f4f6f8;
  --text: #1a1a1a;
}

@font-face {
  font-family: 'satoshi';
  src: url('/style/Satoshi-Variable.ttf') format('woff2');
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'satoshi';
  background: var(--white);
  color: var(--text);
}

/* HEADER */

header {
  width: 100%;
  background: var(--primary);
  position: fixed;
  background-color: white;
  z-index: 1000;

}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue);
}

/* MENU DESKTOP */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--secondary);
}

/* BOTÃO */
.cta {
  background-color: var(--blue);
  border-radius: 40px;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  transition: all ease-in .2s;
}

.cta:hover {
  transition: all ease-in .2s;
    color: var(--blue);
    background-color: #dbdbdb;
}

/* MOBILE */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MENU LATERAL */
.mobile-menu {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100vh;
  background: white;
  padding: 30px;
  transition: 0.3s;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  margin-top: 40px;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  nav, .cta {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

}

main {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
}

.main-content {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-top: 80px;
    padding: 20px 50px 90px 50px;
    width: 90%;
    border-radius: 20px;
    background-image: url(/imagens/236.png);
    background-size: cover;
    background-position: center;

}

main h1 {
  color: #ffffff;
  font-size: 80px;
}

main p {
  font-size: 20px;
  color: white;
  max-width: 700px;
}

.about-section {
  padding: 80px 20px;
  background: #ffffff;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

#about-image-mobile {
  display: none;
}

.about-content {
  max-width: 500px;
}

.about-tag {
  color: #DE1D15;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.about-content h2 {
  color: #094580;
  font-size: 36px;
  margin: 15px 0;
  line-height: 1.2;
}

.about-content p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 30px;
}

.about-metrics {
  display: flex;
  gap: 40px;
}

.about-metrics div {
  text-align: left;
}

.about-metrics strong {
  font-size: 28px;
  color: #094580;
}

.about-metrics span {
  display: block;
  font-size: 14px;
  color: #666;
}

/* RESPONSIVO */
@media (max-width: 900px) {

  .main h1 {
  color: #ffffff;
  font-size:60px;
}

.main p {
  font-size:18px;
  color: white;
  max-width: 700px;
}

#about-image-mobile {
  display: block;
}

#about-image-mobile img{
  height: 400px;
  tran
}

.about-image {
  display: none;
}
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-content {
    max-width: 100%;
  }

  .about-metrics {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .about-content h2 {
    font-size: 28px;
  }

  .about-metrics {
    flex-direction: column;
    gap: 20px;
  }
}

.how-section {
  background: #f9f9f9;
  padding: 80px 20px;
  border-radius: 30px;
}

.how-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.how-tag {
  color: #DE1D15;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.how-text h2 {
  color: #094580;
  font-size: 36px;
  margin: 15px 0;
  line-height: 1.2;
}

.how-subtitle {
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.how-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.step {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.icon {
  min-width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.step h4 {
  color: #094580;
  margin-bottom: 5px;
}

.step p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.how-image img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.img-how-section {
    display: flex;
    border-radius: 30px;
    height: 500px;
    width: 100%;
    background-image: url(/imagens/homem-trabalhando-2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .how-container {
    grid-template-columns: 1fr;
  }

  .how-text h2 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .how-text h2 {
    font-size: 26px;
  }
}

.why-section {
  padding: 80px 20px;
  text-align: center;
  background: #ffffff;
}

.why-tag {
  color: #DE1D15;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.why-section h2 {
  color: #094580;
  font-size: 38px;
  margin: 15px 0;
}

.why-subtitle {
  max-width: 700px;
  margin: 0 auto 50px;
  color: #444;
  line-height: 1.6;
}

.why-cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 25px;
}

.why-card {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  min-height: 420px;
}

.why-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
  transform: scale(1);
}

.why-card:hover img {
  transform: scale(1.1) translate(-10px, -10px);
}

.highlight {
  min-height: 520px;
}

.dark .card-overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  padding: 25px;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  width: 100%;
}

.card-overlay h3 {
  margin-bottom: 8px;
}

.card-overlay p {
  font-size: 14px;
  line-height: 1.4;
}

.card-btn {
  display: inline-block;
  margin-top: 12px;
  background: var(--blue);
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .why-cards {
    grid-template-columns: 1fr;
    height: 1200px;
    gap: 10px;
  }

  
.why-card {
  width: 100%;
  height: 20%;
  object-fit: contain;
  transition: transform 0.6s ease;
  transform: scale(1);
}

  .highlight {
    min-height: 420px;
  }
}

@media (max-width: 500px) {
  .why-section h2 {
    font-size: 28px;
  }
}

#catalogo {
  max-width: 900px;
  margin: auto;
}

#catalogo h2 {
  text-align: center;
  padding: 20px 20px;
  color: #094580;
  margin-bottom: 40px;
}

.catalog-item {
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}

.catalog-header {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 18px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #094580;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.catalog-header:hover {
  background: #f5f5f5;
}

.catalog-header span {
  font-size: 22px;
  transition: 0.3s;
}

.catalog-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #fafafa;
}

.catalog-content ul {
  list-style: none;
  padding: 20px;
}

.catalog-content li {
  padding: 8px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 15px;
  color: #333;
}

.btn-orcamento {
  display: inline-block;
  margin: 0 0 20px 20px;
  background: #25D366;
  color: #ffffff;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-orcamento:hover {
  background: #1ebe5d;
  transform: translateY(-2px);
}



/* SECTIONS */
section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  color: var(--blue);
  margin-bottom: 30px;
  font-size: 32px;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-box {
  background: var(--gray);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  padding: 20px;
  transition: 0.3s;
  background: #fff;
}

.product-card:hover {
  transform: translateY(-4px);
  border-color: #DE1D15;
}

/* ÁREA DA IMAGEM */
.product-image {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  margin-bottom: 15px;
  overflow: hidden;
}

/* IMAGEM */
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* EFEITO PARALLAX SIMPLES */
.parallax-card:hover img {
  transform: scale(1.1) translate(-10px, -10px);
}

/* TEXTO */
.product-card h3 {
  color: #094580;
  margin-bottom: 10px;
}

.product-card ul {
  margin: 15px 0;
  padding-left: 18px;
  font-size: 14px;
}

.price {
  color: var(--blue);
  font-size: 22px;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background: var(--blue);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
/* FOOTER */
footer {
  background: var(--blue);
  color: white;
  padding: 50px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

footer h4 {
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
}:root {
  --white: #ffffff;
  --red: #DE1D15;
  --blue: #094580;
  --gray: #f4f6f8;
  --text: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--text);
}

/* HEADER */

header h1 {
  color: var(--blue);
  font-size: 48px;
  margin-bottom: 20px;
}

header span {
  color: var(--red);
}

header p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

/* SECTIONS */
section {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  color: var(--blue);
  margin-bottom: 30px;
  font-size: 32px;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-box {
  background: var(--gray);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  padding: 25px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-4px);
  border-color: var(--red);
}

.product-card h3 {
  color: var(--blue);
  margin-bottom: 10px;
}

.product-card ul {
  margin: 15px 0;
  padding-left: 18px;
  font-size: 14px;
}

.price {
  color: var(--blue);
  font-size: 22px;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

/* FOOTER */
footer {
  background: var(--blue);
  color: white;
  padding: 50px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

footer h4 {
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
}